*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 16, 16);
  color: white;
}

.game-container {
  margin-top: 25px;
  position: relative;
  display: flex;
}

.player {
  border: 2px solid rgb(230, 209, 246) !important;
  box-shadow: 5px 5px 55px 25px rgba(99, 146, 235, 0.597);
}

.cell {
  background-color: rgb(116, 119, 119);
  border: 1px solid rgba(0, 0, 255, 0.397);
  border-radius: 5px;
  height: 32px;
  width: 32px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 6px;
}

.wall {
  background-color: rgb(67, 67, 67) !important;
}
