:root {
  --bg: rgb(0, 0, 0);
  --color: #ffffff;
  --eye-color: black;
  --hat-color: rgb(162, 204, 238);
  --face-color: #fee786;
  --right-eye-width: 5px;
  --left-eye-width: 5px;
  --face-border-width: 1px;
  --face-border-color: #343a38;
  --core-color: #1154fa;
  --aerial-color: #e4287c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  color: var(--color);
}

#player {
  position: relative;
  width: 50px;
  height: 40px;
  background-color: var(--color);
  border-radius: 15px;
}

.move-down .face {
  border: var(--face-border-width) solid var(--face-border-color);
  border-radius: 5px;
  position: absolute;
  top: 8px;
  left: 10%;
  width: 40px;
  height: 25px;
  background-color: var(--face-color);
}

.move-down .core {
  position: absolute;
  width: 30px;
  height: 20px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
  background-color: var(--core-color);
  bottom: -20px;
  left: 10px;
}

.move-down .aerial {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 20px;
  top: -10px;
  background-color: var(--aerial-color);
}

.move-down .left-hand {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 5px;
  bottom: -10px;
  background-color: var(--aerial-color);
}

.move-down .right-hand {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -10px;
  right: 5px;
  background-color: var(--aerial-color);
}

.move-down .left-leg {
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: var(--color);
}

.move-down .right-leg {
  position: absolute;
  width: 5px;
  height: 15px;
  background-color: var(--color);
}

/* .move-right .eye {
  position: absolute;
  background-color: var(--eye-color);
  width: 15px;
  height: 15px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.move-right .eye::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  left: 0px;
  top: -1px;
  transform: rotate(5deg);
  background-color: var(--eye-color);
}

.move-left .eye {
  position: absolute;
  background-color: var(--eye-color);
  width: 15px;
  height: 15px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

.move-left .eye::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  right: 0px;
  top: -1px;
  transform: rotate(-5deg);
  background-color: var(--eye-color);
}

.move-up .left-eye {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--eye-color);
}

.move-up .left-eye::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  right: 0px;
  top: -1px;
  transform: rotate(-5deg);
  background-color: var(--eye-color);
} */

.move-down .left-eye {
  z-index: 50;
  position: absolute;
  width: 5px;
  height: 13px;
  background-color: var(--eye-color);
  border-radius: 50%;
  left: 13px;
  bottom: 10px;
}

.move-down .left-eye::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  right: -2px;
  top: -1px;
  transform: rotate(5deg);
  background-color: var(--eye-color);
}

.move-down .right-eye {
  z-index: 50;
  position: absolute;
  width: 5px;
  height: 13px;
  background-color: var(--eye-color);
  border-radius: 50%;
  right: 13px;
  bottom: 10px;
}

.move-down .right-eye::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  left: -2px;
  top: -1px;
  transform: rotate(-5deg);
  background-color: var(--eye-color);
}

.move-down .sword {
}

.shield {
  position: absolute;
}

/* .move-left .sword {
  position: absolute;
  width: 6px;
  height: 50px;
  background-color: var(--color);
  top: -30px;
  right: 55px;
  transform-origin: bottom center;
}

.move-left .sword::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -4px;
  width: 14px;
  height: 6px;
  background-color: var(--hat-color);
}

.move-left .sword--striking {
  animation: sword-swing-left 600ms ease-out;
} */

/* .move-right .sword {
  position: absolute;
  width: 6px;
  height: 50px;
  background-color: var(--color);
  top: -30px;
  left: 55px;
  transform-origin: bottom center;
}

.move-right .sword::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -4px;
  width: 14px;
  height: 6px;
  background-color: var(--hat-color);
}

.move-right .sword--striking {
  animation: sword-swing-right 600ms ease-out;
} */

.timer-board-container {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.timer-board {
  width: 250px;
  padding: 20px;
  opacity: 75%;
  background-color: rgb(17, 17, 17);
  border: 3px solid cyan;
  color: white;

  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;

  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}

@keyframes sword-swing-right {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25% {
    transform: rotate(-30deg) translate(10px, -20px);
  }
  50% {
    transform: rotate(90deg) translate(30px, -10px);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sword-swing-left {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }
  25% {
    transform: rotate(30deg) translate(-10px, -20px);
  }
  50% {
    transform: rotate(-90deg) translate(-30px, 10px);
  }
  100% {
    transform: rotate(0deg);
  }
}
